/* General */
.no-pointer {
    pointer-events: none;
}

/* Add player modal */
.message-container {
    position: relative;
}

.message-container span {
    position: absolute;
}

/* Add game modal */
.autocomplete-dropdown-outer {
    position: relative;
}

.autocomplete-dropdown-inner {
    position: absolute;
    width: 100%;
    z-index: 10;
}

.autocomplete-dropdown-inner p {
    background: #e9ecef;
    border: 1px solid white;
    border-top: none;
    cursor: pointer;
}

.autocomplete-dropdown-inner p:hover {
    background: lightgrey;
}

.input-group>.autocomplete-container:not(:first-child) .form-control {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.input-group>.autocomplete-container:not(:last-child) .form-control {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-right: none;
}