/* Add player modal */
.message-container {
    position: relative;
}

.message-container span {
    position: absolute;
}

/* Add game modal */
.autocomplete-dropdown-outer {
    position: relative;
}

.autocomplete-dropdown-inner {
    position: absolute;
    background: lightgray;
    width: 50%;
    transition: height 0.15s ease-in-out;
    transition: opacity 0.15s ease-in-out;
}

.autocomplete-dropdown-inner p {
    transition: all 0.15s ease-in-out;
}

.autocomplete-dropdown-inner p:hover {
    background: blueviolet
}