<!-- Addd game modal -->
<div class="modal fade" id="addGameModal" tabindex="-1" role="dialog" aria-labelledby="addGameModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addGameModalLabel">Add new game</h5>
      </div>
      <div class="modal-body">

        <div class="autocomplete-container">
          <input class="autocomplete-input form-control" type="text" aria-describedby="player1name" autocomplete="off">
          <div class="show fade autocomplete-dropdown-outer">
            <div class="px-3 py-2 autocomplete-dropdown-inner">
            </div>
          </div>
        </div>

        
        <div class="autocomplete-container">
          <input class="autocomplete-input form-control" type="text" aria-describedby="player1name" autocomplete="off">
          <div class="show fade autocomplete-dropdown-outer">
            <div class="px-3 py-2 autocomplete-dropdown-inner">
            </div>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button id="add-game-button" type="button" class="btn btn-primary">Add game</button>
      </div>
    </div>
  </div>
</div>